.background-page-2 {
  background-image: url(/img/bg2.png);
  .container {
    padding-top: 239px;
    padding-bottom: 0;
    justify-content: space-between;
  }
  nav {
    padding-bottom: 168px;
  }
}
