.collaborations {
  margin-top: 184px;
  &__logo {
    display: flex;
    justify-content: space-evenly;
    p {
      font-family: "TTOctosquares-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 100%;
      padding: 46px 103px 79px 82px;
      background-image: url(/img/logo.png);
      background-repeat: no-repeat;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__partners {
    text-align: center;
    h5 {
      font-family: "Mazzard";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 140%;
      background: linear-gradient(90deg, #ffb800 0%, #ffbac3 70.62%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  h1 {
      text-align: center;
    }
}
