.faq {
  &__much {
    margin-top: 50px;
    padding-bottom: 50px;
    p span {
      font-size: 16px;
    }
  }
  &__dusklist {
    margin-top: 50px;
    border-bottom: 2.28497px solid #ffffff;
    p {
      margin-top: 16px;
      padding-bottom: 50px;
    }
  }
  &__svg {
    display: flex;
    align-items: center;
  }
  &__questions {
    background-image: url(/img/rectangle1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 24px;
    &-column-1 {
      border-right: 2.28497px solid #ffffff;
      max-width: 380px;
      padding-top: 69px;
      
      .faq__svg {
        border-bottom: 2.28497px solid #ffffff;
        div {
          padding: 0;
        }
        .faq__svg-one {
          padding: 14px 27px 12px 0px;
          border-bottom: none;
          border-right: 2.28497px solid #ffffff;
        }
        .faq__svg-two {
          border-right: 2.28497px solid #ffffff;
          padding: 14px 35px;
        }
      }

      & div:first-child {
        border-bottom: 2.28497px solid #ffffff;
      }
      h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 117.8%;
      }
      p {
        font-family: "Mazzard";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        span {
          line-height: 33px;
          font-weight: 700;
          font-size: 24px;
        }
      }
      div {
        padding-left: 31px;
      }
    }
  }
}
