.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 57px;
  &__links {
    display: flex;
    margin-top: 40px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    font-family: "Neue Machina";
    line-height: 140%;
    h3 {
      padding: 20px 39px 14px 39px;
      background-image: url(/img/group48095913.png);
    }
    a {
      padding-right: 32px;
    }
  }
}
