* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Octosquares";
  color: white;
}
.background {
  background-image: url(img/image2.png);
  background-size: cover;
}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 57px;
}
.header__links {
  display: flex;
  margin-top: 40px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  font-family: "Neue Machina";
  line-height: 140%;
}
.header__links h3 {
  padding: 20px 39px 14px 39px;
  background-image: url(img/Group48095913.png);
}
.header__links a {
  padding-right: 32px;
}
.container {
  max-width: 1761px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 225px;
}
nav {
  display: flex;
  writing-mode: vertical-lr;
}
nav a {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 58px;
  font-family: "Neue Machina";
  font-size: 22px;
  text-decoration: none;
}
nav a:hover {
  color: white;
}
nav svg {
  margin-bottom: 58px;
}
main h1 {
  font-weight: 400;
  font-size: 88px;
  line-height: 78px;
  letter-spacing: 0.365em;
  margin-bottom: 39px;
}
main {
  margin-left: 50px;
}
.main__select {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}
.main__select h3:first-child {
  margin-right: 19px;
  padding: 20px 45px 14px 46px;
  background: url(img/Group48095869.png);
}
.main__select h3:first-child:hover {
  background: url(img/fsfas.png);
  color: black;
}
.main__select h3:last-child {
  padding: 20px 21px 14px 20px;
  background: url(img/Group48095913.png);
}
.main__select h3:last-child:hover {
  color: black;
  background: url(img/Group4.png);
}
.background-page-2 {
  background-image: url(img/bg2.png);
}
.background-page-2 .container {
  padding-top: 239px;
  padding-bottom: 0;
  justify-content: space-between;
}
.table {
  font-family: "TTOctosquares-Medium";
  font-weight: 500;
  font-size: 27px;
  line-height: 140%;
}
.table ul {
  list-style-type: none;
}
.table li {
  padding-bottom: 75px;
}
.table__more {
  position: relative;
  margin-top: -70px;
}
.table__more a {
  text-decoration: none;
  position: absolute;
  color: black;
  font-weight: 700;
  left: -65px;
  top: 32px;
  font-size: 16px;
  line-height: 140%;
  background: url(img/Rectangle2.png);
  padding: 21px 40px 14px 40px;
}
.table__more--none {
  display: none;
}
.table .two a {
  background: url(img/two.png);
}
.table .three a {
  background: url(img/three.png);
}
.table .four a {
  background: url(img/four.png);
}
.badlands {
  background: url(img/image16.png);
  background-size: cover;
}
.badlands header {
  padding-top: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  max-width: 1790px;
  padding-bottom: 229px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.badlands header a:first-child {
  background: url(img/Group48095869.png);
  padding: 18px 39px 14px 44px;
  text-decoration: none;
}
.badlands header a:first-child:hover {
  background: url(img/fsfas.png);
  color: black;
}
.badlands header a:last-child {
  background: url(img/Group48095869.png);
  padding: 18px 28px 14px 37px;
  text-decoration: none;
}
.badlands header a:last-child:hover {
  background: url(img/fsfas.png);
  color: black;
}
.badlands .container {
  align-items: flex-start;
  padding-bottom: 0;
}
.badlands .container main p {
  padding-top: 60px;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  max-width: 1128px;
  text-transform: uppercase;
}
.badlands__icons {
  height: 700px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.badlands__icons div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 270px;
}
.badlands__icons div img {
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(46px);
}
.badlands__icons div img:first-child {
  background: url(img/bgicon1.png);
  padding: 61px 30px 58px 30px;
  margin-bottom: 30px;
}
.badlands__icons div img:last-child {
  background: url(img/bgicon2.png);
  padding: 61px 18px 58px 30px;
}
.badlands .container main {
  width: 100%;
}
.badlands__flex-end {
  justify-content: flex-end;
}
.badlands__icons .badlands__flex-end img:first-child {
  padding: 57px 24px 58px 24px;
  background: url(img/bg-icon3.png);
}
.badlands__icons .badlands__flex-end img:last-child {
  padding: 54px 24px 53px 24px;
}
.badlands__icons .badlands__padding img:first-child {
  padding: 58px 25px 58px 24px;
  background: url(img/bg-icon5.png);
}
.badlands__icons .badlands__padding img:last-child {
  padding: 58px 25px 58px 24px;
  background: url(img/bg-icon6.png);
}
.badlands__icons .badlands__flex-end--padding img:first-child {
  padding: 28px 24px 58px 24px;
  background: url(img/bg-icon7.png);
}
.badlands__icons .badlands__flex-end--padding img:last-child {
  padding: 28px 24px 58px 24px;
  background: url(img/bg-icon7.png);
}
.badlands__icons img {
  max-width: 270px;
  max-height: 260px;
}
.frontier {
  background: url(img/bg-frontier.png);
  box-shadow: inset -1px 0px 900px 47px black;
  background-size: cover;
}
.badlands nav {
  margin-top: 169px;
}
.frontier nav {
  margin-top: 260px;
}
main .badlands__icons div .frontier__bg--1 {
  background: url(img/bgIcon\(1\).png);
}
main .badlands__icons div .frontier__bg--2 {
  background: url(img/bgIcon\(2\).png);
}
main .badlands__icons .badlands__flex-end .frontier__bg--3 {
  background: url(img/bgIcon\(3\).png);
}
main .badlands__icons div .frontier__bg--4 {
  background: url(img/bgIcon\(3\).png);
}
main .badlands__icons .badlands__padding .frontier__bg--5 {
  background: url(img/bgIcon\(5\).png);
}
main .badlands__icons .badlands__padding .frontier__bg--6 {
  background: url(img/bgIcon\(6\).png);
}
main .badlands__icons .badlands__flex-end--padding .frontier__bg--7 {
  background: url(img/bgIcon\(7\).png);
}
main .badlands__icons .badlands__flex-end--padding .frontier__bg--8 {
  background: url(img/bgIcon\(7\).png);
}
.grove {
  background: url(img/image15.png);
  background-size: cover;
}
.grove nav {
  margin-top: 260px;
}
.grove .container main .badlands__icons div img {
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(46px);
}
.sky {
  background: url(img/City_05_Colorful1.png);
  background-size: cover;
}
.sky nav {
  margin-top: 227px;
}
.sky .container main .badlands__icons div img {
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(46px);
}