* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Octosquares";
  color: white;
}
.background {
  background-image: url(img/image2.png);
  background-size: cover;
}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 57px;
}
.header__links {
  display: flex;
  margin-top: 40px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  font-family: "Neue Machina";
  line-height: 140%;
}
.header__links h3 {
  padding: 20px 39px 14px 39px;
  background-image: url(img/Group48095913.png);
}
.header__links a {
  padding-right: 32px;
}
.container {
  max-width: 1761px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 225px;
}
nav {
  display: flex;
  writing-mode: vertical-lr;
}
nav a {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 58px;
  font-family: "Neue Machina";
  font-size: 22px;
  text-decoration: none;
}
nav a:hover {
  color: white;
}
nav svg {
  margin-bottom: 58px;
}
main h1 {
  font-weight: 400;
  font-size: 88px;
  line-height: 78px;
  letter-spacing: 0.365em;
  margin-bottom: 39px;
}
main {
  margin-left: 50px;
}
.main__select {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}
.main__select h3:first-child {
  margin-right: 19px;
  padding: 20px 45px 14px 46px;
  background: url(img/Group48095869.png);
}
.main__select h3:first-child:hover {
  background: url(img/fsfas.png);
  color: black;
}
.main__select h3:last-child {
  padding: 20px 21px 14px 20px;
  background: url(img/Group48095913.png);
}
.main__select h3:last-child:hover {
  color: black;
  background: url(img/Group4.png);
}
.background-page-2 {
  background-image: url(img/bg2.png);
}
.background-page-2 .container {
  padding-top: 239px;
  padding-bottom: 0;
  justify-content: space-between;
}
.table {
  font-family: "TTOctosquares-Medium";
  font-weight: 500;
  font-size: 27px;
  line-height: 140%;
}
.table ul {
  list-style-type: none;
}
.table li {
  padding-bottom: 75px;
}
.table__more {
  position: relative;
}
.table__more a {
  text-decoration: none;
  position: absolute;
  color: black;
  font-weight: 700;
  left: -65px;
  top: 32px;
  font-size: 16px;
  line-height: 140%;
  background: url(img/Rectangle2.png);
  padding: 21px 40px 14px 40px;
}
.table__more--none {
  display: none;
}
.table .two a {
  background: url(img/two.png);
}
.table .three a {
  background: url(img/three.png);
}
.table .four a {
  background: url(img/four.png);
}
.table__close {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 252px;
  bottom: 10.797px;
}
.badlands {
  background: url(img/image16.png);
  background-size: cover;
}
.badlands header {
  padding-top: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  max-width: 1790px;
  padding-bottom: 229px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.badlands header a:first-child {
  background: url(img/Group48095869.png);
  padding: 18px 39px 14px 44px;
  text-decoration: none;
}
.badlands header a:first-child:hover {
  background: url(img/fsfas.png);
  color: black;
}
.badlands header a:last-child {
  background: url(img/Group48095869.png);
  padding: 18px 28px 14px 37px;
  text-decoration: none;
}
.badlands header a:last-child:hover {
  background: url(img/fsfas.png);
  color: black;
}
.badlands .container {
  align-items: flex-start;
  padding-bottom: 0;
}
.badlands .container main p {
  padding-top: 60px;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  max-width: 1128px;
  text-transform: uppercase;
}
.badlands__icons {
  padding-top: 100px;
  display: flex;
}
.badlands__icons div {
  display: flex;
  flex-direction: column;
}
.badlands__icons div img:first-child {
  background: url(img/bgicon1.png);
  padding: 61px 30px 58px 30px;
  margin-bottom: 30px;
}
.badlands__icons div img:last-child {
  background: url(img/bgicon2.png);
  padding: 61px 18px 58px 30px;
}
.badlands .container main {
  max-width: 1566px;
  width: 100%;
}
